.container {
    margin: 50px;
    text-align: center;
    justify-content: center;
    text-align: center;
    color: rgb(13, 13, 17);
    padding: 44px;
}

.container img {
    width: 60%;
    margin-top: 4rem;
}

.font {
    color: #ffff;
    font-size: 40px;
}

.box {
    background: #000;
    width: 600px;
    box-sizing: border-box;
    margin: auto;
    box-shadow: 10px 5px 5px rgb(38, 41, 34);
}

.country {
    background-image: url(img/Backround.jpg);
}

#submit-btn {
    width: 100px;
    height: 34px;
    font-size: 22px;
    color: rgb(234, 238, 241);
    background: rgb(18, 91, 228);
}

#submit-btn:hover {
    background: rgb(97, 136, 207);
}

#city {
    justify-content: center;
    text-align: center;
    font-size: 33px;
    color: white;
}

#input-btn {
    width: 60%;
    height: 40%;
    font-size: 22px;
    color: #000;
    background: white;
}

#temp {
    color: #000;
    font-size: 23px;
    font-size: 40px;
    color: white;
}

#des {
    font-size: 20px;
    color: white;
}